DOD/USNAVY/NRL/OCEANOGRAPHY ||| 13
CA/NRCAN/ESS/GC/CCMEO ||| 13
INFOTERRA ||| 13
UNEP/GRID-WARSAW ||| 12
DOC/NOAA/NMFS/NEFSC ||| 12
ESA/ESRIN ||| 12
USGCRP ||| 12
RUTGERS/CC/DES/GSMDB ||| 12
NASA/GSFC/SED/ESD/GMAO ||| 12
COLOSTATE/CIRA/CPC ||| 12
NASA/GSFC/SED/ESD/HBSL/BISB/MODAPS_SERVICES ||| 12
DOI/USGS/SESC ||| 12
DOC/NOAA/NESDIS/NODC/OCL ||| 12
PRBO/CADC ||| 12